<div class="row">
    <div class="column-md-4">
      <div style="margin-top:70px;margin-left:80px;"class="container">
    <div class="row">
        <div style="background-color:rgb(202, 202, 202)" class="col-md-10 ">
        <div style ="height:450px;margin-bottom:10px;background-color:hsl(180, 3%, 87%); "class="filter-sidebar">
        <div style="background-color:rgb(82, 82, 82)" class="row card-body py-3 mb-4 ">
        <h4 style ="color:#ffffff ">Narrow Your Results</h4>
        </div>    
        <div style="margin-top:20px;height:50px; " class="form-group">
        <select class="form-control" id="conditionsselect1">
        <option>Distance</option>
        <option>option1</option>
        <option>option2</option>
        </select>
        </div>
  
  
        <div style="margin-top:30px" class="form-group">
          <select class="form-control" id="conditionsselect2">
            <option>Minimum Education</option>
            <option>Masters</option>
            <option>bachelors</option>
            <option>Diploma</option>
            <option>Certification</option>
          </select>
       </div>
  
       <div  style="margin-top:40px" class="form-group">
        <select class="form-control" id="make1">
          <option>Experience</option>
          <option>Less than 1</option>
          <option>more than 1</option>
          <option>more than 2</option>
          <option>more than 5</option>
          <option>Exactly</option>
        </select>
     </div>
  
  
     <div   style="margin-top:40px" class="form-group">
      <select class="form-control" id="make1">
        <option>Rating(Out of Five)</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
   </div>
  
  
   <div  style="margin-top:40px"  class="form-group">
    <select class="form-control" id="mileage1">
      <option>Rates</option>
      <option> 5000</option>
      <option>5000-10000</option>
      <option>10000-15000</option>
      <option>15000-20000</option>
      <option>20000-25000</option>
      <option>> 25000</option>
    </select>
  </div>
  <hr>
  <button style="margin-left:24px;color:white;"type="btn" class="btn  btn-danger ">Find Now</button>
  <button  style="margin-left:20px;" type="btn" class="btn btn-danger">Reset All</button>
  </div>
  </div>
  </div>
  </div> 
  </div>
  <div style="height:550px;width:1400px;margin-top:60px;margin-left:120px;"class="card">
  <div class="row">
  <div style="margin-left:100px" class ="column-md-2">
  <div style="margin-top:90px;"class="row">
            <div class="column-md-2">
                <div class="card" style="background-color:#e2dddd;width:10cm;height:11.5cm;" >
                    <div style="width:10cm;height:11.5cm;" class="card-body">
                      <div class="row">
                        <div class="col s12 m6">
                          <div stle="height:7cm;" class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <span class="card-title"><h5>Job Title</h5></span>
                             
                              <h6>UserId </h6>
                              <h6>City</h6><hr>
                             
                              <h6>Experience</h6>
                              <h6>Educational Qualificaton</h6><hr>

                              <h6>Rate</h6>
                              <h6>Rating</h6><hr>

                              <p>I am a very simple card. I am good at containing small bits of information.
                              I am convenient because I require little markup to use effectively.</p>
                            </div>
                           
                        </div>
                      </div>
               </div>
               <div class="card-action">
                  <a style="margin-left:2.9cm;color: rgb(165, 3, 3);"href="http://localhost:4200/view"><b  >View Profile</b></a>
                  <div class="row">
                 </div>
              </div>
        </div>
        
   </div>
  </div> 
  </div>
</div>
<div style="margin-left:100px" class ="column-md-2">
    <button style="margin-top:20px;margin-left:620px" class="button button3">
       <b style="text-align: center;margin-top:20px;font-size:20px;">Compare Hair Stylists</b>
      </button>
</div>

</div>
 </div> 
</div>
